[defaults]

# hosts configuration
inventory = hosts

# path to search for roles in
roles_path = ./roles

# disable SSH key host checking
host_key_checking = False

# change the default callback, you can only have one 'stdout' type  enabled at a time.
stdout_callback = skippy

# SSH timeout
timeout = 10
