- name: Install Common Development Tools
  hosts: 127.0.0.1
  connection: local
  roles:
    - apt
    - python
    - { role: chaosmail.nodejs }
    - ruby
    - spotify
    - chromium
    - dropbox
    - encfs
    - { role: chaosmail.sublime-text }
    - vagrant
    - docker
    - vscode
  become_user: root
  become: true
